html,body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h2{
    width: 100%;
    display: inline-block;
    text-align: center;
}

.list_ejers_html{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    
}

.list_ejers_css{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0;
}


li{
    background-color: #e75f5f;
    list-style: none;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    
}
li:hover{
    background-color: #e09d9d;
    cursor: pointer;
}