html, body{
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    background-color: rgb(83, 244, 255);
    padding: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    
}
.group1{
    background-color: antiquewhite;
}
.group2{
    background-color: rgb(231, 184, 229);
}
.group1 > div {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.group2 > div {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}

.container > div:nth-child(1){
    cursor: pointer
}
.container > div:nth-child(2){
    cursor:help
}
.container > div:nth-child(3){
    cursor:wait
}
.container > div:nth-child(4){
    cursor:grab
}
.container > div:nth-child(5){
    cursor:zoom-in
}